<li id="<%= feed_item.id %>">
  <span class="user">
    <%= link_to feed_item.user.name, feed_item.user %>
  </span>
  <span class="content">
    <%= wrap("#{feed_item.content}") %>
  </span>
  <span class="timestamp">
    Published <%= time_ago_in_words(feed_item.updated_at) %> ago.
  </span>
    <%= render 'shared/operation_user_task', object: feed_item %>
</li>